<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="my-3"><%= @customer.name %>さんのリアクションした投稿一覧</h4>
    </div>
    <div class="container">
      <div class="row">
        <% if @sighting_pet_posts.present? %>
          <% @sighting_pet_posts.each do |pet_post| %>
            <%= render 'public/pet_posts/list', pet_post: pet_post %>
          <% end %>
        <% else %>
          <div class="d-flex align-items-center mx-auto" style="height: 300px;">
            <h4 class="text-center">リアクションした投稿はありません</h4>
          </div>
        <% end %>
      </div>
    </div>
    <div class="mx-auto mt-3">
      <%= paginate @sighting_pet_posts %>
    </div>
  </div>
</div>