<%= form_with model: [pet_post, comment] do |f| %>
  <%= f.text_area :comment, rows: '2', class: "form-control",  placeholder: "コメントをここに入力してください" %>
  <div class="my-2">
    <%= f.submit "送信する", class: "btn btn-sm btn-outline-secondary" %>
  </div>
<% end %>