<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="my-3">迷子情報一覧</h4>
    </div>
    <div class="container">
      <div class="row">
          <% @pet_posts.each do |pet_post| %>
              <%= render 'public/pet_posts/list', pet_post: pet_post, tag_list: @tag_list %>
          <% end %>
        </div>
      </div>
    <div class="mx-auto mt-3">
        <%= paginate @pet_posts %>
    </div>
  </div>
</div>

