<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-flex align-items-center">
        <h4 class="my-2">保護情報一覧</h4>
        <div class="ml-3">
        <%= link_to "迷子・保護情報を登録", new_pet_post_path, class:"btn btn-outline-danger mb-2" %>
        </div>
      </div>
      <% @pet_posts.each do |pet_post| %>
        <% if pet_post.found? %>
          <%= render 'list', pet_post: pet_post, tag_list: @tag_list %>
         <% end %>
      <% end %>
    </div>
  </div>
</div>