<div class="container">
  <div class="row">
    <div class="col-md-8 sm-5 mx-auto">
      <h4 class="my-3 ml-4">保護迷子情報新規登録</h4>
      
        <%= render 'form', customer: @customer, pet_post: @pet_post %>
     
    </div>
  </div>
</div>
