<%= form_with url: keyword_search_searches_path, local: true, method: :get do |f| %>
  <%= f.text_field :keyword, class: "form-control", placeholder: "エリアを入力してください" %>
  <%= f.hidden_field :model, value: "pet_post" %>
  <%= f.hidden_field :method, value: "partial" %>
  <button type="submit" class="btn btn btn-light">検索</button>
<% end %>